@font-face {
    font-family: FFF Tusj;
    src: url(https://dmytrobohdanow.github.io//fonts/FFFTusj.ttf);
   }
body {
    background: whitesmoke;
    font-family: FFF Tusj;
}
ul {
    list-style-type: none;
    height: 100%;
    padding-left: 0;
    margin-left: 0;
}
#upper_menu {
    position: fixed;
    background-color:lightgrey;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 10;
}
.upper_menu_item {
    background-color: lightgrey;
    position: relative;
    height: 100%;
    display: inline-block;
    margin: 0;
    text-align: justify;
    cursor: pointer;
    top: -27%;
}
#menu_list {
    display: none;
    position:absolute;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 100%;
    right: 0px;
    top: 100%;
    margin:0;
}
.menu_list_item {
    position: relative;
    margin: 0;
    height: 100%;
    background-color: lightgrey;
    cursor: pointer;
    text-align: justify;
    
}
#menu,#blog,#contact {
    width: 20%;
    float: left;
    font-size: 1.5rem;
    border-right: 1px solid gray;
}
#settings {
    float: right;
    width: 4%;
    text-align: center;
    border-right: 1px solid gray;
}
#settings_block {
    display: none;
    position: relative;
    background-color: lightgrey;
    width:300%;
    height:300%;
    right:200%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
#contact_block {
    display: none;
    position: relative;
    background-color: lightgrey;
    width: 100%;
    height: 400%;
    top: 8%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
#greeting {
    width: 80%;
    height: 50%;
    position: absolute;
    text-align: center;
    vertical-align: center;
    font-size: 2.5rem;
    top: 35%;
    left: 10%;
    opacity: 0;
    border: 2px solid black;
}
#skills_block, #language_block, #experience_block, #learn_block {
    opacity: 0;
    position: absolute;
    background-color: rgba(211,211,211,0.6);
    width: 20%;
    top: 110%;
    text-align: center;
    font-size: 1.5rem;
}
#skills_block {left:3%}
#skills_list, #language_list, #learn_list, #experience_list {text-align: left}
#learn_block {left:27%}
#language_block {left:52%}
#experience_block {left:77%}
#projects_block {
    position: absolute;
    top: 200%;
    left: 20%;
    width: 60%;
    height: 80%;
    margin-bottom: 30%;
    text-align: center;
}
#project_1, #project_2, #project_3, #project_4, #project_5, #project_6 {
    position: relative;
    border: 2px solid black;
    width: 25%;
    height: 25%;
    margin-top: 5%;
}
#project_1 {
    left: 5%;
}
#project_2 {
    left: 35%;
    top: -33.5%;
}
#project_3{
    left: 66%;
    top: -67%;
}
#project_4{
    left: 5%;
    top: -67%;
}
#project_5{
    left: 35%;
    top: -100.5%;
}
#project_6{
    left: 66%;
    top: -134%;
}