@font-face {
    font-family: FFF Tusj;
    src: url(https://dmytrobohdanow.github.io//fonts/FFFTusj.ttf);
   }
body {
    background: whitesmoke url(https://dmytrobohdanow.github.io//images/Day_Theme_Background.jpg);
    font-family: FFF Tusj;
}

ul {
    list-style-type: none;
    height: 100%;
    padding-left: 0;
    margin-left: 0;
}

#upper_menu {
    position: fixed;
    background-color:lightgrey;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 10;
}

.upper_menu_item {
    background-color: lightgrey;
    position: relative;
    height: 100%;
    display: inline-block;
    margin: 0;
    text-align: justify;
    cursor: pointer;
    top: -27%;
}

#menu_list {
    display: none;
    position:absolute;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 100%;
    right: 0px;
    top: 100%;
    margin:0;
}

.menu_list_item {
    position: relative;
    margin: 0;
    height: 100%;
    background-color: lightgrey;
    cursor: pointer;
    text-align: justify;
    
}

#menu,#blog,#contact {
    width: 20%;
    float: left;
    font-size: 24px;
    border-right: 1px solid gray;
}

#settings {
    float: right;
    width: 4%;
    text-align: center;
    border-right: 1px solid gray;
}

#settings_block {
    display: none;
    position: relative;
    background-color: lightgrey;
    width:300%;
    height:300%;
    right:200%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

#contact_block {
    display: none;
    position: relative;
    background-color: lightgrey;
    width: 100%;
    height: 400%;
    top: 8%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

#greeting {
    position: absolute;
    text-align: center;
    font-size: 65px;
    top: 20%;
    left: 15%;
    opacity: 0;
}

#text_block {
    background-color: rgba(211,211,211,0.6);
    opacity: 0;
    position: absolute;
    width: 100%;
    text-align: right;
    top: 20%;
    height: 70%;
    left: 15%;
}

#skills_block, #language_block, #experience_block {
    opacity: 0;
    position: absolute;
    background-color: rgba(211,211,211,0.6);
    width: 25%;
    height: 80%;
    top: 110%;
}

#skills_block {left:7%}
#language_block {left:37%}
#experience_block {left:67%}